<form [formGroup]="registerForm" (ngSubmit)="handleSubmit()">
  <h1>Register</h1>
  <label>
    Username
    <input type="text" formControlName="username" />
  </label>
  <label>
    Email
    <input type="email" formControlName="email" />
  </label>
  <label>
    Password
    <input type="password" formControlName="password" />
  </label>
  <label>
    Confirm password
    <input type="password" formControlName="confirmPassword" />
  </label>
  <label>
    Lang
    <select formControlName="lang">
      <option value="en">EN</option>
      <option value="fr">FR</option>
    </select>
  </label>
  <label style="display: flex;gap: 20px">
    <input type="checkbox" formControlName="terms" class="checkbox" />
    <span>By creating a Phitor account, you accept our <a href="" target="_blank">Terms of service</a> and our <a href="" target="_blank">Privacy policy</a>.</span>
  </label>
  <div class="btn-container">
    <button type="submit" [disabled]="!registerForm.valid">Submit</button>
  </div>
  <p>You already have an account ? <a href="/auth?action=login">Log in</a></p>
</form>
