
@if(user?.id === userProfile?.userId) {
  <button (click)="toggleEditorState()">{{ isEditorActive ? "Close" : "Edit profile" }}</button>

  @if(isEditorActive) {
    <app-profile-editor [profile]="userProfile!" />
  }
}

@if(!isEditorActive) {
  @if(user?.id !== userProfile?.userId) {
    <app-follow-btn [user]="user!" [userId]="userId!" />
  }

  <h3>{{ userProfile?.fullname }}</h3>
  <p>{{ '@' }}{{ userProfile?.username }}</p>
  <p>{{ userProfile?.followers }} followers | {{ userProfile?.following?.length }} following</p>
  <p>Bio: {{ userProfile?.bio }}</p>
  <p>Created on: {{ userProfile?.createdAt }} | Last profile update: {{ userProfile?.updatedAt }}</p>

  <p>Image: {{ userProfile?.avatarUrl }}</p>

  <div>
    <h4>{{ '@' }}{{ userProfile?.username }} follows</h4>
    @for(following of userProfile?.following; track following.userId) {
      <app-profile-item [profile]="following" (viewProfile)="changeProfile($event)" />
    }
  </div>

  <p>User ID: {{ userProfile?.userId }}</p>

  <app-share-btn [action]="'profile'" [params]="{userId: userId}" />
}
