<div>
  <button (click)="handleOpenEditorEvent()">Edit</button>
  <button (click)="handleDeleteDocumentEvent()">Delete</button>
  <app-share-btn [action]="'documents'" [params]="{docId: doc.id}" />

  <h3>Title: {{ doc.title }}</h3>
  <p>Lang: {{ doc.lang }}</p>
  <p>Public: {{ doc.isPublic ? "yes" : "no" }}</p>
  <p>{{ doc.likes.length }} like{{ doc.likes.length > 1 ? "s" : "" }}</p>
  <p>Tags: {{ doc.tags ? doc.tags : "none" }}</p>
  <p>Description: {{ doc.description ? doc.description : "none" }}</p>
  <span>Creation date: {{ doc.createdAt }} | Last update: {{ doc.updatedAt }}</span>
</div>
