<nav>
  <a [routerLink]="['/']">Home</a>

  @if(userService.getCurrentUser()) {
    <div>
      <div>
        <button (click)="toggleUserDataPanel()">{{ userService.getCurrentUser()!.username }}</button>
        <div id="userData" class="d-none">
          <ul>
            <li>Id: {{ user!.id }}</li>
            <li>Username: {{ user!.username }}</li>
            <li>Email: {{ user!.email }}</li>
            <li>Lang: {{ user!.lang }}</li>
            <li>Account creation date: {{ user!.createdAt }}</li>
            <li>Account last update date: {{ user!.updatedAt }}</li>
          </ul>
        </div>
      </div>
      <button (click)="handleLogout()">Log out</button>
    </div>
  }
  @else {
    <div>
      <a href="/auth?action=login">Log in</a>
      <a href="/auth?action=register">Register</a>
    </div>
  }
</nav>

<router-outlet></router-outlet>
